/* GENERAL */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

a {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

.divider {
  width: 100px;
  height: 2px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.tr {
  text-align: center;
  margin-bottom: 50px;
  color: #b25856;
  font-weight: bold;
}

/* HEADER */
#bg {
  /* padding-top: 12px; */
  /* padding-bottom: 20px; */
  background: #b25856;
}

#dt {
  width: 28%;
  margin-left: -18px;
  margin-bottom: -18px;
  color: rgb(236, 216, 216);
}

#bg a {
  font-size: 20px;
  color: rgb(236, 216, 216);
}

#bg a:hover {
  color: #fff;
}

#ul {
  margin-left: 350px;
  margin-top: -26px;
  margin-bottom: 10px;
}

header {
  margin-bottom: 80px;
}

/* SECTION ACCUEIL */
h3 {
  color: #b25856;
}

#accueil {
  padding-bottom: 50px;
}

.dsc {
  font-size: 18px;
  margin-bottom: 70px;
}

/* SECTION PRESTATION */

.btn-lg {
  margin-left: 32%;
  background: rgb(212, 207, 207);
  border-color: #fff;
  color: #000;
}

.btn-lg:hover {
  background: #b25856;
  border-color: #b25856;
}

#prestation {
  background-image: url('../img/restaurant.jpg');
  /* background: rgb(212, 207, 207); */
  padding-bottom: 50px;
}

/* GALERIE */

#galerie a {
  border-color: #b25856;
}

#galerie {
  padding-bottom: 50px;
}

#galerie img {
  width: 252px;
  height: 180px;
}

/* ABOUT ME */

#about {
  background: rgba(218, 198, 198, 0.267);
}

#about img {
  margin-top: -159px;
  width: 180px;
}

/* SECTION CONTACT */

#contact h2 {
  color: rgb(236, 216, 216);
}

#send {
  background: rgb(212, 207, 207);
  border-color: #fff;
  margin-left: +15px;
  font-weight: bold;
  font-size: 18px;
}

#send:hover {
  background: rgb(192, 55, 53);
  border-color: rgb(212, 207, 207);
}

#contact {
  background: #b25856;
  padding-bottom: 50px;
}

label {
  color: rgb(236, 216, 216);
  font-size: 18px;
}

strong {
  color: rgb(236, 216, 216);
}

/* FOOTER */

.ft {
  text-align: center;
  margin-top: 40px;
}

#dej {
  width: 210px;
  margin-top: 50px;
  margin-left: 75px;
}

.copyright {
  text-align: center;
  color: #b25856;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media (max-width: 900px) {
  #dt {
    margin-top: -50px;
    margin-bottom: 0px;
  }
  #myNavbar {
    padding-top: 18px;
    text-align: center;
    margin-left: -360px;
  }
  .mr {
    margin-right: 15px;
    /* margin-left: -40px; */
  }
}
